body{
    margin: 0;
    height: 100%;
    width:100%;

}

h1{
    text-align: center;
}

.navbar{
    text-align: right;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 10px;
    background: black;
}

.navbar-buttons{
    margin-right: 25px;
    text-decoration: none;
    color: white;
    border-bottom: solid 2px transparent;
}

.navbar-buttons:hover{
    border-bottom: solid 2px white;

}
main{
    border: solid black;
    width: 50%;
    height: 100%;
    margin: auto;
    display: flex;
       align-items: center;
    align-content: center;
}

.homepage-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.homepage-container h1{
    text-align: center;
}

.signup-container{
    margin: auto;
}

.signup-container form{
    display: flex;
    flex-direction: column;
}

.signup-container form input{
    width: 200px;
    height: 50px;
    font-size: 1.5em;
}

.signup-container form input:valid{
 color: green;
}

.signup-container form input:invalid{
    color: red;
}

   button{
       margin-top: 20px;
       font-size: 24px;
}