<div class="signup-container">
    <img src="./assets/login.png" alt="Login" class="avatar">
    <h1>Login...</h1>

    <form action="/login" method="post" onsubmit="return loginChecker(this)">
        <input type="text" name="email" placeholder="Your email..." pattern="[-.\w]+@([\w-]+\.)+[\w-]{2,20}" required>
        <input type="password" name="password" id="password"
            pattern="(?=^.{8,20}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$"
            placeholder="Enter password" require>


        <div class="message-container">
            {{#if message}}
            <p class="error-message">{{message}}</p>
            {{/if}}

            {{#if successfull_message}}
            <p class="successfull-message">{{successfull_message}}</p>
            {{/if}}

        </div>

        <button>Login</button>
    </form>
</div>