<div class="profile-container">

    <div class="profile-banner">
        <img src="./assets/profile-icon.png" alt="Profile Icon">
        <h2>Welcome {{email}}</h2>
    </div>

    <div class="profile-link-container">
        <h3>Here are some links for you (these will only work if you have jwt token):</h3>

        <ul class="links">
            <a href="/google">
                <li>Google</li>
            </a>
            <a href="/skysports">
                <li>Skysports</li>
            </a>
            <a href="/hotmail">
                <li>Hotmail</li>
            </a>
        </ul>
    </div>
</div>